.elem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border: 1px solid #a3aa11;
    background-color: #C4CD14;

    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color:white;
    padding: auto;
    
}

.content {
    text-align: justify;
    padding: 20px;
	margin: 60px auto;
	width: 600px;
	text-align: justify;
	font: 16px "Times New Roman";
    border: 1px solid #C4CD14;
}
