.eee {
	color: green;
}
.zzz {
	color: red;
}
.odd {
    color:green;

}
.eve{
    color:red;
}
.eeee{
    color:red;
}
.xxx {
	font-size   : 30px;
}
.block1 {
	color: red;
}
.block2 {
	color: green;
}
.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.RED{
    color: red;
}
.number_2{
    color: green;
}
.number_4{
    color: green;
}

